@font-face {
  font-family: Tusker;
  src: url(Tusker/TuskerGrotesk-2600Semibold.woff);
  /* font-weight: bolder; */
}

:root {
  --clr-accent--: rgb(255, 255, 255);
  --clr-main--: rgb(245, 238, 230);
  --clr-accent-lite--: rgb(243, 219, 199);
  --fs-50--: 1rem;
  --fs-100--: 1.325rem;
  --fs-200--: 1.6rem;
  --fs-300--: 3rem;
  --fs-400--: 4rem;
  --fs-500--: 5rem;
  --ff-migra--: Migra, sanse-serif;
  --ff-neue--:'Raleway', sans-serif;
  --ff-tusker--: "Teko", sans-serif;
}

/* *, */
/* *::before, */
/* *::after { */
/* box-sizing: border-box; */
/* color: red; */
/* } */

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* 
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
} */

/* Set core body defaults */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  background-color: black;

  /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

#app {
  width: 100%;
  background-color: rgb(176, 116, 116);
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
}

/* --------------NavBar section--------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 1.225rem 1rem 0.8rem 1rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);

  color: var(--clr-main--);
  font-size: var(--fs-50--);
  z-index: 1;
}

.nav-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
  justify-items: end;
  align-content: center;
  width: 100%;
  /* height: 0px; */
  /* padding: 1.225rem 1rem 0.8rem 1rem; */
}

.navlist {
  display: flex;
  padding-right: 1em;
  font-family: var(--ff-neue--);
  font-weight: 200;
  font-size: var(--fs-100--);
}
.logo {
  justify-self: start;
  align-self: center;
  display: flex;
}

.logo-name {
  font-family: var(--ff-migra--);
  font-weight: 200;
  color: var(--clr-accent--);
  width: fit-content;
}
.logo-name a {
  font-size: 1.5rem;
  color: white;
}

.nav-lable {
  justify-self: start;
  align-self: flex-end;
  padding-left: 1rem;
}
@media (max-width: 652px) {
  .nav-lable {
    display: none;
  }
}

.navlist {
  font-family: var(--ff-neue--);
}
.navlist li a {
  color: var(--clr-accent--);
  text-decoration: none;
}

.progressbar-wrap {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.progressbar {
  height: 1px;
  width: 100%;
  background-color: aliceblue;
}

/*-------------bghero and main section------------*/
@keyframes bganimation {
  0% {
    clip-path: polygon(47.2% 22%, 56% 58%, 47.6% 94%, 38% 58%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

#main {
  width: 100%;
  height: 100vh;
  background: url(/images/herobg.webp);
  background-position: center;
  background-size: cover;
  padding: 54.4px 2.5em;
  padding-bottom: 0;
}

.main-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.avilable-date{
  margin-left: auto;
  border: 1px solid blue;
}



.text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: 1px solid red; */
}

.all-lables{
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
}


.top-lable {
  font-family: var(--ff-migra--);
  font-size: var(--fs-300--);
  color: var(--clr-accent-lite--);
  justify-content: start;
  padding-top: 1rem;
}

.lable {
  font-size: min(max(5rem, 10vw), 15rem);
  font-family: var(--ff-tusker--);
  justify-content: start;

  color: white;
}

.text span:nth-child(2) {
  margin-bottom: -3.5rem;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.content-wrap > p{
  color: var(--clr-main--);
  font-family: var(--ff-neue--);
  font-weight: 600;
  font-size:var(--fs-200--) ;
  /* font-size: min(max(1rem, 2vw), 2rem); */
}

.topline {
  justify-self: end;
  align-self: flex-end;
  height: fit-content;
}

.self-intro {
  font-size: var(--fs-100--);
}

.contact-button {
  margin-left: auto;
  height: 1.6em;
  margin-top: 0.5rem;
  font-size: var(--fs-200--);
}
@media (min-width: 1000px) {
  .main-wraper{
    padding-bottom: 0;
  }
  .text{
    flex-direction: row;
    gap: 10%;
    line-height: 1.3;
    padding-bottom: 4rem;
    /* justify-content: space-between; */
    align-items: flex-end;
    
  }
  .content-wrap > p{
    font-size: 2rem;
    /* font-size: min(max(1rem, 2vw), 2rem); */
  }
  .content-wrap > button{
    margin-top: 2.5rem;
    font-size: 2rem;
  }
  .content-wrap{
    justify-content: flex-end;
    width: 40%;

  }
  .all-lables{
    display: flex;
    justify-content: center;
    /* margin-bottom: -3.9em; */
    font-size: calc(4vw + 2rem);
    line-height: 1.3;
    width: 50%;
    /* height: 10px; */
  }
}

@media (min-width: 900px) {
  .all-lables {
    font-size: 175px;
  }
}

@media (max-width: 400px) {
  #main {
    padding: 54.4px 1rem;
  }
}
/* -------------------(2nd section)intro section----------------- */
#intro-wrap {
  height: 101vh;
  width: 100%;
  background-color: black;
  scroll-snap-align: start;
}

#intro {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  color: aliceblue;
  justify-content: space-around;
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
}

.intro-text {
  display: grid;
  width: fit-content;
  padding-left: 0.5em;
  color: var(--clr-accent--);
  font-size: var(--fs-100--);
  padding-bottom: 2em;
}

.intro-lable {
  font-family: var(--ff-tusker--);
  /* font-size: min(max(160px, 4vw), 3rem); */
  font-size: 4rem;
  color: var(--clr-accent--);
  padding: 0;
  /* height: fit-content; */
}


.intro-side-text {
  justify-self: end;
  color: var(--clr-accent-lite--);
  font-size: 16px;
  line-height: 16px;
  margin-top: -1.8rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  line-height: 1.3em;
  font-size: var(--fs-100--);
}

.topline-text {
  justify-self: end;
  align-self: flex-end;
}

.Believe-wrapper {
padding-bottom: 3em;
}

/*-------------------sliced-------------*/
.deco-text {
  grid-area: deco-text;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  user-select: none;
}
.sliced-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: calc(17vw + 1em);
  color: transparent;
  text-transform: uppercase;
}
.sliced-text span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
}

.sliced-text:hover span:nth-child(1) {
  transform: translateY(-18px);
}
.sliced-text span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
}
.sliced-text:hover span:nth-child(2) {
  transform: translateY(18px);
}
.sliced-text span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) scaleY(0);
  width: 96%;
  color: black;
  background: #ff0;
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-align: center;
  padding-left: 20px;
  margin-left: 5px;
  transition: 0.5s;
}
.sliced-text:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
}

/* ----------------(3rd)projects section--------------- */

#cases {
  font-size: large;
  padding: 1.75rem 1rem;
  width: 100%;
  height: auto;
  background-color: black;
  color: #fff;
  scroll-snap-align: start;
}

#cases h1 {
  padding-bottom: 5em;
}

.for-enquiry {
  display: flex;
  justify-self: flex-end;
  margin-top: 2em;
  margin-bottom: 1em;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;

  /* text-decoration: none; */
  color: rgba(255, 255, 255, 0.8);

  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.for-enquiry:hover {
  background: linear-gradient(to right, darkblue, darkorchid);
  box-shadow: 5px 5px 15px rgba(147, 58, 210, 0.5);
}
/*---------------------------*/

.card-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 5em;
  height: auto;
  column-gap: 2em;
  justify-items: center;
  /* align-items: center; */
  position: relative;
}
.card {
  position: relative;
  width: 19em;
  height: 10em;
  background: #333;
  transition: 0.5s;
  isolation: isolate;
  margin: 0;
}
.card:hover {
  height: 26em;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
.card:hover .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #743ad5,
    #743ad5,
    #743ad5,
    transparent
  );
  animation: border-animation 4s linear infinite;
}
@keyframes border-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #151515;
}
.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 10em;
  height: 9rem;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to left, #743ad5, #d53a9d) 1;
}
.card:hover .imgBx {
  width: 13em;
  height: 13em;
}
.card:hover .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #ff3c7b, transparent);
  animation: red-border-animation 6s linear infinite;
}
@keyframes red-border-animation {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #292929;
}
.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  filter: grayscale(1);
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to left, #d53a9d, #743ad5) 1;
}
.card .content .details {
  padding: 0 1em;
  padding-bottom: 17px;
  text-align: center;
  transition: 0.5s;
  transform: translateY(160px);
}
.card:hover .content .details {
  transform: translateY(-10px);
}
.card .content .details h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: limegreen;
  margin-bottom: 1.75rem;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  width: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(76, 76, 163);
}
.button::before {
  isolation: isolate;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darkblue;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover::before {
  width: 100%;
}

/*----------------------------*/
@media (max-width: 596px) {
  .project-lable {
    display: none;
  }
  #cases {
    padding: 5rem 1rem 0rem 1rem;
  }
}

@media (max-width: 403px) {
  #cases {
    padding: 5rem 0.75rem 0rem 0.75rem;
  }

  /* .card {
    width: 300px;
  }

  .card .content .details {
    padding: 0 7px;
  } */
}

/*-------------Let's connect section--------------*/
#lets-connect {
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  scroll-snap-align: start;
  background-color: black;
}

.text-connect {
  grid-area: text;
  /* width: fit-content; */
}

.lable-connect {
  word-spacing: 75vw;
  font-size: var(--fs-400--);
  color: var(--clr-accent--);
}

.side-lable {
  margin-top: -0.3rem;
  margin-bottom: 0.5rem;
  color: var(--clr-accent-lite--);
}

.skills {
  grid-area: connect-button;
  display: flex;
  flex-wrap: wrap;
}

.skill-show {
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.3rem 0.2rem; 

  display: block;
  /* min-height: 5rem; */
  background-color: rgba(111, 111, 111, 0);
  color: white;
  border: 1px solid white;
}

.inqury {
  grid-area: inqury;
  display: grid;
  color: var(--clr-accent--);
  margin-top: auto;
  margin-bottom: 3rem;
}

.lets-talk {
  position: relative;
  display: inline-block;
  /* padding: 10px 20px; */
  font-size: 25px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--clr-accent-lite--);
  transition: all 0.3s ease;
}

.lets-talk::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5px;
  background-color: var(--clr-main--);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.lets-talk:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*---------------------------------------------------*/

.logo-name {
  color: rgb(227, 26, 43);
}
